
<html>
	<head>
    {{ if .Cookie }}
    <title>Save Passwords for {{ .Username }}</title>
    {{ end }}
	</head>
	<body>
		{{ if .Ok }}
			<script type="text/javascript">
        alert("success")
      </script>
    {{ end }}
		<form action="/add" method="post">
			<label>Username</label>
			<input type="text" name="user" required>
			<label>Password</label>
			<input type="password" name="passw" required>
			<label>Category</label>
			<input type="text" name="category" required>
			<input type="submit" name="Save">
		</form>


	</body>
</html>
